@import url(../fonts/fonts.css);
.p1{
	background-color: red;
	/*overflow: hidden;*/
}
h1{float: left;
width: 20%;}
p{float:right;
	width:80%;}
/*div{
	clear: both;
}
*/
section::after{
	content: "";
	display: block;
	clear: both;
}
